name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 20.19.4
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm

      - name: Install dependencies
        shell: bash
        run: pnpm i --frozen-lockfile

      - name: Generate Changelog
        run: pnpm dlx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Publish to NPM
        run: pnpm run publish:ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.VINICUNCA_NPM_TOKEN }}
